/*Color Gradient for Top navigation bar*/
#topnavbar {
    width: 100%;
    background: 
    linear-gradient(90deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(10, 10, 10, 1) 8%,
        rgba(102, 63, 0, 1) 33%, 
        rgba(23, 9, 9, 1) 79%, 
        rgba(84, 49, 3, 1) 100%);
    box-sizing: border-box;
}

#topnavbar img {
    width: auto;
    height: 80%;
    object-fit: contain;
}